@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-md-12" id="aboutUs">
            <h3>Welcome to Ninjas Webshop!</h3>
            <p>
                Imagine a place where every click brings you closer to the most innovative and stylish clothes, perfect for all your sports and nature experiences.
                Very soon you will be able to purchase all the clothes you need for an active lifestyle on this webshop, but at the moment the website is only available for our administrators.
                In the meantime you are more than welcome to check out our products and see what would suit you.

            </p>
            <p style="font-weight: bold;">Best wishes, NinjasTeam</p>
            </div>
</div>