body {
    background-color: #ffffff;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #efefef;
    color: black;
    padding: 20px;
}

#aboutUs {
    text-align: center;
}

.dashboard {
    background-color: #f2f2f2;
    border: 1px solid #666666;
    border-radius: 15px;
    padding: 20px;
    margin: 10px;
}
.pictures-container {
    justify-content: center;
}
.product-image {
    width: 300px;
    height: 400px;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dashboard-container {
    justify-content: center;
}
.navbar-nav .nav-link:hover {
    font-weight: bold;
}

a:hover {
    color: #f49e6f;
}
a {
    color: #5a5a5a;
    text-decoration: none;
}
.product-info{
    text-align: center;
}

.btn {
    background-color: #f49e6f;
    border-color: #666666;
    color: black;
}
.btn:hover {
    background-color: #e27336;
}

.fa-solid {
    padding: 5px;
}
.form-group{
    padding: 8px;
    color: black;
}
.form-control {
    border-color: #484848;
}