body {
}

footer {
    position: absolute; /* Fixera fotern längst ned på sidan */
    bottom: 0; /* Placera fotern längst ned */
    width: 100%; /* Ta hela bredden av sidan */
    background-color: #f8f9fa; /* Bakgrundsfärg */
    color: #5a5a5a;
    padding: 20px;
}

#aboutUs {
    text-align: center;
}

#navlink:hover{
    color: red;
}

.dashboard {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
}

.dashboard-container {
    justify-content: center;
}

#orderPerDay, #orderMonth, #productStock {
    width: auto;
    height: auto;
}